<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Alphasight 👀</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" /> 
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>