{% extends "base.html" %}
{% block body %}
<div class="wrapper">
  <div class="box container">
    <form id="form" enctype="multipart/form-data" method="POST" action="/project/create">
      <div class="file has-name">
        <label class="file-label">
          <input id="file" class="file-input" type="file" name="file">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span id="filename" class="file-name">

          </span>
        </label>
      </div><br />

      <div>
        <input name="project_name" type="text" />
      </div><br />

      <div class="control">
        <button id="submit" class="button is-link">Upload video</button>
      </div>
    </form>
  </div>

  <div class="container">
    {% for project in projects %}
    <div class="tile project-tile">
      <a href="./project/{{project}}">
        <div class="box">
          {{project}}
        </div>
      </a>
    </div>
    {% endfor %}
  </div><br />
</div>

<script>
  var file = document.getElementById("file");
  file.onchange = function () {
    if (file.files.length > 0) {
      document.getElementById('filename').innerHTML = file.files[0].name;
    }
  };

</script>

<style>
  .wrapper {
    padding: 1em;
  }

  .project-tile {
    cursor: pointer;
  }

  .project-tile :hover {
    background: grey;
    color: white;
  }
</style>
{% endblock %}