{% extends "base.html" %}
    {% block body %}
    <div class="container">
        <h1 class="title is-1">Project: {{project}} {{ '' if processed else ' [Processing]' }}</h1>
        <h2 class="subtitle is-2">Number of people: <span id="count"></span></h2>
    </div>


	<div class="wrapper">
        <div class="video">
            <video >
                <source src="{{ url_for('serve_video', filename="output.webm", project_name=project) }}" type="video/webm">
            </video>
        </div>
        <div class="video">
            <video >
                <source src="{{ url_for('serve_video', filename="heatmap.webm", project_name=project) }}" type="video/webm">

            </video>
        </div>

       
	</div>

    <div id="timeline">
        <div id="scrub"></div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>

	<script>
        url = '{{ url_for('serve_video', filename="coordinates", project_name=project) }}';
        $.get(url).then(((doc)=>{
            a = doc.split('\n');
            c = a[a.length - 2].split(',')[1];
            $('#count').text(c);
        }));

        $('video').click(function() {
            if(this.paused){
                $('video').each(function(){
                    this.play()
                });
            }else{
                $('video').each(function(){
                    this.pause()
                });
            }
                
        });

        $(function(){
            var scrub      = {
      el: document.getElementById('scrub'),
      current: {
        x: 0
      },
      last: {
        x: 0
      }
    },
    timeline   = document.getElementById('timeline'),
    mouseDown  = false;

    scrub.el.onmousedown = function () {
    mouseDown    = true;
    scrub.origin = timeline.offsetLeft;
    scrub.last.x = scrub.el.offsetLeft;
    return false;
    };

    document.onmousemove = function(e) {

    if (mouseDown === true) {
        var scrubStyle  = getComputedStyle(scrub.el),
            scrubOffset = parseInt(scrubStyle.width,10)/2,
            position    = parseInt(scrubStyle.left, 10),
            newPosition = position + (e.clientX - scrub.last.x),
            timeStyle   = getComputedStyle(timeline, 10),
            timeWidth   = parseInt(timeStyle.width,10);

        if (e.clientX < timeline.offsetLeft) {
        newPosition = scrub.origin - (scrubOffset*2);
        } else if (e.clientX > timeWidth + timeline.offsetLeft) {
        newPosition = timeWidth - (scrubOffset);
        }

        console.log(newPosition);
        //document.getElementById('output').value = newPosition;
        scrub.el.style.left = newPosition + 'px';
        scrub.last.x        = e.clientX;
    }
    };

    document.onmouseup = function() {
    mouseDown = false;
    };
        });

	</script>

	<style>
        .wrapper{
            display: flex;
            flex-wrap: row wrap;
        }

        .wrapper > .video {
            flex: 1 auto;
            margin: 1em;
            height: 100%;
        } 

        video {
            width: 100%    !important;
            height: auto   !important;
        }

        #timeline {
            flex: 3 0px;
            height: 3em;
            background-color:grey;
        }

        #scrub {
            width: 3em;
            height: 3em;
            background-color: black;
            border-radius: 50%;
            
            cursor: move;
            position: relative;
            z-index: 1;
        }

        #scrub .active {
            cursor: move;
        }



	</style>
{% endblock %}